[submodule "parson"]
	path = parson
	url = https://github.com/kgabis/parson.git
[submodule "tinyxml2"]
	path = tinyxml2
	url = https://github.com/ponapalt/tinyxml2.git
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/ponapalt/sqlite-amalgamation-new.git
[submodule "deelx"]
	path = deelx
	url = https://github.com/ponapalt/deelx.git
[submodule "gumbo"]
	path = gumbo
	url = https://github.com/ponapalt/gumbo-parser-mirror.git
